In [21]:
import sqlite3
conn=sqlite3.connect('attendance.db')

In [22]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
%sql sqlite:///attendance.db

In [24]:
%sql SELECT * FROM sqlite_master WHERE type='table'

 * sqlite:///attendance.db
Done.

[('table', 'Attendance', 'Attendance', 2, 'CREATE TABLE Attendance(Id int PRIMARY KEY, day date, employee text)'),
 ('table', 'AttendanceActions', 'AttendanceActions', 4, 'CREATE TABLE AttendanceActions(Id int PRIMARY KEY, AttendanceId int, ActionTime datetime, Action text, FOREIGN KEY(AttendanceId) REFERENCES Attendance(Id))')]

explore Attendance table

In [25]:
%sql SELECT * FROM Attendance

 * sqlite:///attendance.db
Done.

[(1, '2020-04-01', 'EMP01'),
 (2, '2020-04-01', 'EMP02'),
 (3, '2020-04-02', 'EMP01'),
 (4, '2020-04-03', 'EMP01'),
 (5, '2020-04-02', 'EMP02'),
 (6, '2020-04-03', 'EMP02')]

In [26]:
%sql SELECT * FROM AttendanceActions

 * sqlite:///attendance.db
Done.

[(1, 1, '2020-04-01 12:00 AM', 'CheckIn'),
 (2, 1, '2020-04-01 12:00 PM', 'CheckOut'),
 (3, 2, '2020-04-01 12:05 PM', 'CheckIn'),
 (4, 2, '2020-04-01 11:50 PM', 'CheckOut'),
 (5, 3, '2020-04-02 12:05 AM', 'CheckIn'),
 (6, 3, '2020-04-02 11:50 AM', 'CheckOut'),
 (7, 3, '2020-04-02 11:50 PM', 'CheckIn'),
 (8, 4, '2020-04-03 12:05 PM', 'CheckOut')]

In [35]:
code='EMP01'
date='2020-04-01'

%sql SElECT * FROM AttendanceActions WHERE AttendanceId = (SELECT A.ID FROM Attendance AS A WHERE (A.employee = 'EMP01' and A.day='2020-04-01'))

 * sqlite:///attendance.db
Done.

[(1, 1, '2020-04-01 12:00 AM', 'CheckIn'),
 (2, 1, '2020-04-01 12:00 PM', 'CheckOut')]